<div>
    <ul class="footer">
      <li class="footer-li"><a href="/">DASHBOARD</a></li>
      <li class="footer-li"><a href="/profile">PROFILE</a></li>
      <li class="footer-li"><a href="/faq">TERM</a></li>
      <li class="footer-li"><a href="/terms/#privacy">PRIVACY</a></li>
      <li class="footer-li"><a href="/slides">SLIDE-SHOW</a></li>
    </ul>
</div>