<div>
    <ul class="menu">
      <li class="menu-li"><a href="/">DASHBOARD</a></li>
      <li class="menu-li"><a href="/profile">PROFILE</a></li>
      <li class="menu-li"><a href="/faq">TERM</a></li>
      <li class="menu-li"><a href="/slides">SLIDE-SHOW</a></li>
    </ul>
</div>
     