<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/design.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
  </head>

  <%- include('layouts/menu')-%> 

  <body>
    <main>
      <h1>- My Profile -</h1>

      <div>
        <div id="currentSetting">
          Current Profile
        </div> 

        <div> <img src="images/profile image.png" id="image"> </div>
        <div class="Tab-now">
          <div>
            <label>First Name:&nbsp;</label>
            <span type="text" id="first_name_updated" name="first_name_updated"></span>
          </div>

          <div>
            <label>Last Name:&nbsp;</label>
            <span type="text" id="last_name_updated" name="last_name_updated"></span>
          </div>

          <div>
            <label>Email:&nbsp;</label>
            <span type="text" id="email_updated" name="email_updated">hyeonhwa@gmail.com</span>
          </div>

          <div>
            <label>Birthday:&nbsp;</label>
            <span type="date" id="birthday_updated" name="birthday_updated"></span>
          </div>
        </div>
        
      </div>
      
 
      <form id="profile_form">
            <div id="currentSetting">
              <label>Please enter your information below</label>
            </div>
            
            <div class="Tab-setting">
              <div>
                <label>First Name:&nbsp;</label>
                <input type="text" id="first_name" name="first_name"  />
                <br><span id="name_error" class="error-span"></span>
            </div>

            <div>
                <label>Last Name:&nbsp;</label>
                <input type="text" id="last_name" name="last_name"  />
                <br><span id="name_error" class="error-span"></span>
            </div>

            <div>
                <label>Email:&nbsp;</label>
                <input type="email" id="email" name="email"  />
                <br><span id="email_error" class="error-span"></span>
            </div>

            <div>
                <label>Birthday:&nbsp;</label>
                <input type="date" id="birthday" name="birthday"  />
                <br><span id="birthday_error" class="error-span"></span>
            </div>


            <div>
                <label>Password:&nbsp;</label>
                <input type="password" id="password" name="password"   />
                <br>→ Password must be at least 8 characters
                <br> including 1 lowercase and uppercase character
                <br><span id="password_error" class="error-span"></span>
            </div>


            <div>
                <label>Confirm Password:&nbsp;</label>
                <input type="password" id="confirm_password" name="confirm_password"  />
                <span id="confirm_password_error" class="error-span"></span>
            </div>
     
            <div>
              <input type="submit" id="submit"  value="Submit" />
             <input type="reset" id="reset" value="Reset Form" />
            </div>
            </div>
            
      </form>
      
    </main>
    <script src="js/profile.js" defer></script>
  </body>
  <%- include('layouts/footer')-%>
</html>
