<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terms of services</title>
    <link rel="stylesheet" href="css/design.css" />
  </head>
  <%- include('layouts/menu')-%>
  <body>
    <main>
      <h1>Terms of Service</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p><input type="button" id="accept" value="Accept" /></p>
      <script>
        const btn = document.querySelector("#accept");
        btn.addEventListener(
          "click",
          () => (window.location.href = "faq?accepted=true")
        );
      </script>

      <div id="privacy">
        "È universalmente riconosciuto che un lettore che osserva il layout di una pagina viene distratto dal
        contenuto testuale se questo è leggibile.
        Lo scopo dell’utilizzo del Lorem Ipsum è che offre una normale distribuzione delle lettere (alcontrario di quanto avviene se si utilizzano brevi frasi ripetute, ad esempio “testo qui”), apparendo come un normale blocco di testo leggibile. 
        Molti software di impaginazione e di web design utilizzano Lorem Ipsum come testo modello.
        Molte versioni del testo sono state prodotte negli
        anni, a volte casualmente, a volte di proposito (ad esempio inserendo passaggi ironici)."
      </div>
    </main>
  </body>
  <%- include('layouts/footer')-%>
</html>
